$black: #000;

.product {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__span {
        font-size: 36px;
    }

    &__img {
        height: 400px;
        width: 500px;
        border-radius: 10%;
        box-shadow: 0 0 5px $black;
    }

    &__img_f {
        height: 100px;
        width: 100px;
    }

    .favoriteButton {
        background-color: pink;
        border: none;
        padding: 8px 16px;
        cursor: pointer;

        &:hover {
            background-color: red;
        }
    }

    .addToCartButton {
        background-color: lightblue;
        border: none;
        padding: 8px 16px;
        cursor: pointer;

        &:hover {
            background-color: blue;
        }
    }
}
